* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

fieldset {
  border: none;
}

.msgError {
  color: #e70a0a;
  margin-top: 4px;
  font-size: 12px;
  border-radius: 4px;
  display: flex;
  font-family: "Roboto", sans-serif;
}

/* mensagem de sucesso */

.hidden {
  display: none;
}

.active {
  background-color: #b4ffbb;
  border-radius: 4px;
  border: 3px solid #004f08;
  color: #004f08;
  display: flex;
  width: 500px;
  margin: 32px auto 0 auto;
  padding: 10px;
  justify-content: center;
}

.activeError {
  background-color: #fff6c9;
  border-radius: 4px;
  border: 3px solid #fad311;
  color: #8b7400;
  display: block;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-10);
}
